.ButtonStyle {
    background-color: #00abb3;
    color: black;
    margin: 15px;
    width: 175px;
    border: #00abb3;
    transition: color .5s linear; 
    -moz-transition: color .5s linear;  
    -webkit-transition: color .5s linear; 
    -ms-transition: color .5s linear; 
}

.ButtonStyle:hover {
    background-color: #b2b2b2;
}