.ButtonStyle {
    background-color: #00abb3;
    margin-right: 15px;
    width: 175px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: #00abb3;
}

.ButtonStyle:focus {
    color: black;
    background-color: #b2b2b2;
}

.ButtonStyle:hover {
    color: black;
    background-color: #b2b2b2;
}