.LandingPage {
    margin-top: 75px;
}

.LifeSortLogo {
    padding: 15%;
    padding-top: 0;
    padding-bottom: 0;
}

.LandingPageParagraph {
    margin-top: -15%;
}

.ButtonArea {
    margin-bottom: 30px;
}