.NavBar {
    background-color: #eaeaea;
    border-bottom: #eaeaea;
    border-bottom-style: outset;
    padding-left: 1em;
    padding-right: 1em;
}

.NavBarIcons {
    margin-right: 10px;
    height: 35px;
    width: 35px;
}

.NavBarLogo {
    height: 50px;
    cursor: pointer;
}

.NavBarText {
    font-size: 1.2em;
    color: black;
}
