.TaskTitle {
    font-size: 1.5em;
    margin-top: 15px;
}

.TaskCol {
    border: solid 2px #00abb3;
    border-radius: 5px;
    margin-top: 20px;
}

.TaskTitleLink {
    text-decoration: none;
    color: black;
}

.TaskTitleLink:hover {
    color: #b2b2b2;
    transition: color .5s linear; 
    -moz-transition: color .5s linear;  
    -webkit-transition: color .5s linear; 
    -ms-transition: color .5s linear; 
}

.Overdue {
    background: #f5000079;
    padding-left: 5px;
    padding-right: 5px;
    border: solid #b30000 thin; 
    border-radius: 5px;
}

.OnTime {
    background: #00f55e79;
    padding-left: 5px;
    padding-right: 5px;
    border: solid #24b300 thin; 
    border-radius: 5px;
}