.App {
    font-family: 'Manrope', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column
}

.TaskPageTitle {
    font-size: 2em;
    margin-top: 50px;
}

.NoResultsImage {
    height: 50px;
}

.TaskLists {
    margin-top: 50px;
    font-size: 1em;
}