.App {
    font-family: 'Manrope', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column
}

.ButtonStyle {
    background-color: #00abb3;
    margin-right: 15px;
    width: 175px;
    margin-top: 15px;
    border: #00abb3;
}

.ButtonStyle:hover {
    color: black;
    background-color: #b2b2b2;
}

